<a href="https://colab.research.google.com/github/Rana5884/EDA/blob/main/Flight_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
path = '/content/drive/MyDrive/Datasets/EDA Datasets/Data_Train_flight_data.xlsx'

train_df = pd.read_excel(path )

In [4]:
path_2 = "/content/drive/MyDrive/Datasets/EDA Datasets/Test_set_fligt_Data.xlsx"

test_df = pd.read_excel(path_2)

In [5]:
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [6]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [7]:
final_df= train_df.merge(test_df, how='outer')

In [8]:
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,Air Asia,01/03/2019,Banglore,New Delhi,BLR → DEL,05:50,08:40,2h 50m,non-stop,No info,10715.0
1,Air Asia,01/03/2019,Banglore,New Delhi,BLR → DEL,23:25,02:10 02 Mar,2h 45m,non-stop,Red-eye flight,10873.0
2,Air Asia,03/03/2019,Banglore,New Delhi,BLR → DEL,05:50,08:40,2h 50m,non-stop,No info,7074.0
3,Air Asia,03/03/2019,Banglore,New Delhi,BLR → DEL,05:50,08:40,2h 50m,non-stop,No info,7652.0
4,Air Asia,03/03/2019,Banglore,New Delhi,BLR → DEL,23:25,02:10 04 Mar,2h 45m,non-stop,No info,6135.0

In [9]:
final_df.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2454
dtype: int64

In [10]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13151 entries, 0 to 13150
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13151 non-null  object
 1   Date_of_Journey  13151 non-null  object
 2   Source           13151 non-null  object
 3   Destination      13151 non-null  object
 4   Route            13150 non-null  object
 5   Dep_Time         13151 non-null  object
 6   Arrival_Time     13151 non-null  object
 7   Duration         13151 non-null  object
 8   Total_Stops      13150 non-null  object
 9   Additional_Info  13151 non-null  object
 10  Price            10697 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.1+ MB

In [11]:
final_df['Date']=final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month']=final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year']=final_df['Date_of_Journey'].str.split('/').str[2]

In [12]:
final_df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,Air Asia,01/03/2019,Banglore,New Delhi,BLR → DEL,05:50,08:40,2h 50m,non-stop,No info,10715.0,01,03,2019
1,Air Asia,01/03/2019,Banglore,New Delhi,BLR → DEL,23:25,02:10 02 Mar,2h 45m,non-stop,Red-eye flight,10873.0,01,03,2019

In [13]:
final_df['Date']=final_df['Date'].astype(int)
final_df['Month']=final_df['Month'].astype(int)
final_df['Year']=final_df['Year'].astype(int)

In [14]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13151 entries, 0 to 13150
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13151 non-null  object
 1   Date_of_Journey  13151 non-null  object
 2   Source           13151 non-null  object
 3   Destination      13151 non-null  object
 4   Route            13150 non-null  object
 5   Dep_Time         13151 non-null  object
 6   Arrival_Time     13151 non-null  object
 7   Duration         13151 non-null  object
 8   Total_Stops      13150 non-null  object
 9   Additional_Info  13151 non-null  object
 10  Price            10697 non-null  float64
 11  Date             13151 non-null  int64
 12  Month            13151 non-null  int64
 13  Year             13151 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 1.4+ MB

In [15]:
final_df.drop('Date_of_Journey', axis=1, inplace=True)

In [16]:
final_df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,Air Asia,Banglore,New Delhi,BLR → DEL,05:50,08:40,2h 50m,non-stop,No info,10715.0,1,3,2019
1,Air Asia,Banglore,New Delhi,BLR → DEL,23:25,02:10 02 Mar,2h 45m,non-stop,Red-eye flight,10873.0,1,3,2019
2,Air Asia,Banglore,New Delhi,BLR → DEL,05:50,08:40,2h 50m,non-stop,No info,7074.0,3,3,2019
3,Air Asia,Banglore,New Delhi,BLR → DEL,05:50,08:40,2h 50m,non-stop,No info,7652.0,3,3,2019
4,Air Asia,Banglore,New Delhi,BLR → DEL,23:25,02:10 04 Mar,2h 45m,non-stop,No info,6135.0,3,3,2019

In [17]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13151 entries, 0 to 13150
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13151 non-null  object
 1   Source           13151 non-null  object
 2   Destination      13151 non-null  object
 3   Route            13150 non-null  object
 4   Dep_Time         13151 non-null  object
 5   Arrival_Time     13151 non-null  object
 6   Duration         13151 non-null  object
 7   Total_Stops      13150 non-null  object
 8   Additional_Info  13151 non-null  object
 9   Price            10697 non-null  float64
 10  Date             13151 non-null  int64
 11  Month            13151 non-null  int64
 12  Year             13151 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 1.3+ MB

In [18]:
final_df['Arrival_Time']= final_df['Arrival_Time'].apply(lambda x: x.split(' ')[0])

In [19]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13151 entries, 0 to 13150
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13151 non-null  object
 1   Source           13151 non-null  object
 2   Destination      13151 non-null  object
 3   Route            13150 non-null  object
 4   Dep_Time         13151 non-null  object
 5   Arrival_Time     13151 non-null  object
 6   Duration         13151 non-null  object
 7   Total_Stops      13150 non-null  object
 8   Additional_Info  13151 non-null  object
 9   Price            10697 non-null  float64
 10  Date             13151 non-null  int64
 11  Month            13151 non-null  int64
 12  Year             13151 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 1.3+ MB

In [20]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2454
Date                  0
Month                 0
Year                  0
dtype: int64

In [21]:
final_df['Total_Stops'].unique()

array(['non-stop', '1 stop', '2 stops', '3 stops', '4 stops', nan],
      dtype=object)

In [22]:
final_df['Total_Stops']= final_df['Total_Stops'].replace({'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3, 'nan':1, '4 stops':4})

In [23]:
final_df['Arrival_Hour']= final_df['Arrival_Time'].str.split(':').str[0]
final_df['Arrival_Min']= final_df['Arrival_Time'].str.split(':').str[1]

In [24]:
final_df['Date']=final_df['Date'].astype(int)
final_df['Month']=final_df['Month'].astype(int)
final_df['Year']=final_df['Year'].astype(int)

In [25]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13151 entries, 0 to 13150
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13151 non-null  object
 1   Source           13151 non-null  object
 2   Destination      13151 non-null  object
 3   Route            13150 non-null  object
 4   Dep_Time         13151 non-null  object
 5   Arrival_Time     13151 non-null  object
 6   Duration         13151 non-null  object
 7   Total_Stops      13150 non-null  float64
 8   Additional_Info  13151 non-null  object
 9   Price            10697 non-null  float64
 10  Date             13151 non-null  int64
 11  Month            13151 non-null  int64
 12  Year             13151 non-null  int64
 13  Arrival_Hour     13151 non-null  object
 14  Arrival_Min      13151 non-null  object
dtypes: float64(2), int64(3), object(10)
memory usage: 1.5+ MB

In [26]:
final_df.drop('Arrival_Time', axis=1, inplace=True)

In [27]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2454
Date                  0
Month                 0
Year                  0
Arrival_Hour          0
Arrival_Min           0
dtype: int64

In [28]:
final_df['Dept_hour']= final_df['Dep_Time'].str.split(':').str[0]
final_df['Dept_min']= final_df['Dep_Time'].str.split(':').str[1]
final_df['Dept_hour']= final_df['Dept_hour'].astype(int)
final_df['Dept_min']= final_df['Dept_min'].astype(int)
final_df.drop('Dep_Time', axis=1, inplace=True)

In [29]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13151 entries, 0 to 13150
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13151 non-null  object
 1   Source           13151 non-null  object
 2   Destination      13151 non-null  object
 3   Route            13150 non-null  object
 4   Duration         13151 non-null  object
 5   Total_Stops      13150 non-null  float64
 6   Additional_Info  13151 non-null  object
 7   Price            10697 non-null  float64
 8   Date             13151 non-null  int64
 9   Month            13151 non-null  int64
 10  Year             13151 non-null  int64
 11  Arrival_Hour     13151 non-null  object
 12  Arrival_Min      13151 non-null  object
 13  Dept_hour        13151 non-null  int64
 14  Dept_min         13151 non-null  int64
dtypes: float64(2), int64(5), object(8)
memory usage: 1.5+ MB

In [30]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Duration              0
Total_Stops           1
Additional_Info       0
Price              2454
Date                  0
Month                 0
Year                  0
Arrival_Hour          0
Arrival_Min           0
Dept_hour             0
Dept_min              0
dtype: int64

In [33]:
final_df[final_df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dept_hour,Dept_min
2128,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,09,25,9,45

In [34]:
final_df.drop(2128, axis=0, inplace=True)

In [36]:
final_df.drop('Route',axis=1, inplace=True)

In [37]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13150 entries, 0 to 13150
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13150 non-null  object
 1   Source           13150 non-null  object
 2   Destination      13150 non-null  object
 3   Duration         13150 non-null  object
 4   Total_Stops      13150 non-null  float64
 5   Additional_Info  13150 non-null  object
 6   Price            10696 non-null  float64
 7   Date             13150 non-null  int64
 8   Month            13150 non-null  int64
 9   Year             13150 non-null  int64
 10  Arrival_Hour     13150 non-null  object
 11  Arrival_Min      13150 non-null  object
 12  Dept_hour        13150 non-null  int64
 13  Dept_min         13150 non-null  int64
dtypes: float64(2), int64(5), object(7)
memory usage: 1.5+ MB

In [38]:
final_df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dept_hour,Dept_min
0,Air Asia,Banglore,New Delhi,2h 50m,0.0,No info,10715.0,1,3,2019,08,40,5,50
1,Air Asia,Banglore,New Delhi,2h 45m,0.0,Red-eye flight,10873.0,1,3,2019,02,10,23,25
2,Air Asia,Banglore,New Delhi,2h 50m,0.0,No info,7074.0,3,3,2019,08,40,5,50
3,Air Asia,Banglore,New Delhi,2h 50m,0.0,No info,7652.0,3,3,2019,08,40,5,50
4,Air Asia,Banglore,New Delhi,2h 45m,0.0,No info,6135.0,3,3,2019,02,10,23,25

In [39]:
final_df['Additional_Info'].unique()

array(['No info', 'Red-eye flight', '1 Long layover', '2 Long layover',
       '1 Short layover', 'Change airports', 'No Info', 'Business class',
       'In-flight meal not included', 'No check-in baggage included'],
      dtype=object)

In [40]:
final_df['Duration_hour']=final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [41]:
final_df[final_df['Duration_hour']=='5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dept_hour,Dept_min,Duration_hour
767,Air India,Mumbai,Hyderabad,5m,2.0,No info,NaN,12,3,2019,16,55,16,50,5m
2089,Air India,Mumbai,Hyderabad,5m,2.0,No info,17327.0,6,3,2019,16,55,16,50,5m

In [42]:
final_df.drop(767, axis=0, inplace=True)
final_df.drop(2089, axis=0, inplace=True)

In [43]:
final_df[final_df['Duration_hour']=='5m']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_Hour, Arrival_Min, Dept_hour, Dept_min, Duration_hour]
Index: []

In [44]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Duration              0
Total_Stops           0
Additional_Info       0
Price              2453
Date                  0
Month                 0
Year                  0
Arrival_Hour          0
Arrival_Min           0
Dept_hour             0
Dept_min              0
Duration_hour         0
dtype: int64

In [45]:
final_df['Duration_hour']=final_df['Duration_hour'].astype('int')

In [47]:
final_df['Duration_min']=final_df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [48]:
final_df['Duration_min']=final_df['Duration_min'].fillna(0)

In [49]:
final_df['Duration_min']=final_df['Duration_min'].astype('int')

In [50]:
final_df['final duration']= final_df['Duration_hour']*60 + final_df['Duration_min']

In [51]:
final_df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dept_hour,Dept_min,Duration_hour,Duration_min,final duration
0,Air Asia,Banglore,New Delhi,2h 50m,0.0,No info,10715.0,1,3,2019,08,40,5,50,2,50,170
1,Air Asia,Banglore,New Delhi,2h 45m,0.0,Red-eye flight,10873.0,1,3,2019,02,10,23,25,2,45,165
2,Air Asia,Banglore,New Delhi,2h 50m,0.0,No info,7074.0,3,3,2019,08,40,5,50,2,50,170
3,Air Asia,Banglore,New Delhi,2h 50m,0.0,No info,7652.0,3,3,2019,08,40,5,50,2,50,170
4,Air Asia,Banglore,New Delhi,2h 45m,0.0,No info,6135.0,3,3,2019,02,10,23,25,2,45,165

In [52]:
final_df.drop('Duration', axis=1, inplace=True)

In [53]:
final_df.drop('Duration_hour',axis=1, inplace=True)
final_df.drop('Duration_min',axis=1, inplace=True)

In [54]:
final_df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dept_hour,Dept_min,final duration
0,Air Asia,Banglore,New Delhi,0.0,No info,10715.0,1,3,2019,08,40,5,50,170
1,Air Asia,Banglore,New Delhi,0.0,Red-eye flight,10873.0,1,3,2019,02,10,23,25,165
2,Air Asia,Banglore,New Delhi,0.0,No info,7074.0,3,3,2019,08,40,5,50,170
3,Air Asia,Banglore,New Delhi,0.0,No info,7652.0,3,3,2019,08,40,5,50,170
4,Air Asia,Banglore,New Delhi,0.0,No info,6135.0,3,3,2019,02,10,23,25,165

In [55]:
final_df['Total_Stops'].unique()

array([0., 1., 2., 3., 4.])

In [56]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13148 entries, 0 to 13150
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13148 non-null  object
 1   Source           13148 non-null  object
 2   Destination      13148 non-null  object
 3   Total_Stops      13148 non-null  float64
 4   Additional_Info  13148 non-null  object
 5   Price            10695 non-null  float64
 6   Date             13148 non-null  int64
 7   Month            13148 non-null  int64
 8   Year             13148 non-null  int64
 9   Arrival_Hour     13148 non-null  object
 10  Arrival_Min      13148 non-null  object
 11  Dept_hour        13148 non-null  int64
 12  Dept_min         13148 non-null  int64
 13  final duration   13148 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.5+ MB

In [57]:
final_df['Arrival_Hour']=final_df['Arrival_Hour'].astype('int')
final_df['Arrival_Min']=final_df['Arrival_Min'].astype('int')

In [58]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13148 entries, 0 to 13150
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13148 non-null  object
 1   Source           13148 non-null  object
 2   Destination      13148 non-null  object
 3   Total_Stops      13148 non-null  float64
 4   Additional_Info  13148 non-null  object
 5   Price            10695 non-null  float64
 6   Date             13148 non-null  int64
 7   Month            13148 non-null  int64
 8   Year             13148 non-null  int64
 9   Arrival_Hour     13148 non-null  int64
 10  Arrival_Min      13148 non-null  int64
 11  Dept_hour        13148 non-null  int64
 12  Dept_min         13148 non-null  int64
 13  final duration   13148 non-null  int64
dtypes: float64(2), int64(8), object(4)
memory usage: 1.5+ MB

In [59]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [60]:
final_df['Airline']=labelencoder.fit_transform(final_df['Airline'])
final_df['Source']=labelencoder.fit_transform(final_df['Source'])
final_df['Destination']=labelencoder.fit_transform(final_df['Destination'])
final_df['Additional_Info']=labelencoder.fit_transform(final_df['Additional_Info'])

In [61]:
final_df.shape

(13148, 14)

In [62]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13148 entries, 0 to 13150
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13148 non-null  int64
 1   Source           13148 non-null  int64
 2   Destination      13148 non-null  int64
 3   Total_Stops      13148 non-null  float64
 4   Additional_Info  13148 non-null  int64
 5   Price            10695 non-null  float64
 6   Date             13148 non-null  int64
 7   Month            13148 non-null  int64
 8   Year             13148 non-null  int64
 9   Arrival_Hour     13148 non-null  int64
 10  Arrival_Min      13148 non-null  int64
 11  Dept_hour        13148 non-null  int64
 12  Dept_min         13148 non-null  int64
 13  final duration   13148 non-null  int64
dtypes: float64(2), int64(12)
memory usage: 1.5 MB